.fbar {
    background-color: blue;
    display: inline-block;
    height: 100px;
    margin: 2px;
    width: 25px;
}

.fbar:hover {
    fill: brown;
}

svg {
    background-color: pink;
    margin: 40px;
    padding: 10px;
}